.mdc-drawer .mdc-drawer__content .mdc-drawer-menu .mdc-drawer-item 
.mdc-expansion-panel-link, .mdc-drawer .mdc-drawer__content 
.mdc-drawer-menu .mdc-drawer-item .mdc-drawer-link{
    height: 30px !important; 
    padding: 0 -0.25rem !important;
}

.mdc-list-group {
    margin-left: -1.5rem !important;
}

.mdc-drawer--open, .mdc-drawer__drawer {
    width: 264px !important;
}

.page-wrapper.full-page-wrapper{
    background-image: url("https://transport.cagl.com/public/files/login_bg.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.table-font-change{
    font-weight: 500 !important;
    font-size: 16px !important;
}


.align-middle{
    vertical-align: middle !important;
}


#usertab {
    margin-right: -0.9rem !important;
}

.bo {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    margin-left: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-right: 14px;
}


textarea#id_note.textarea.form-control{
    height: 120px !important;
}
textarea#id_dest_addr.textarea.form-control{
    height: 120px !important;
}
textarea#id_pickup_addr.textarea.form-control{
    height: 120px !important;
}

textarea#id_description.textarea.form-control{
    height: 60px !important;
}