<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cagl Transport</title>

  <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- plugins:css -->
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="{% static 'assets/css/editedstyles.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
  <!-- End plugin css for this page -->
  <link href="{% static  'assets/css/select2.min.css' %}" rel="stylesheet">
  <link href="{% static  'assets/css/AdminLTE.min.css' %}" rel="stylesheet">
  <link href="{% static  'assets/css/skins/_all-skins.min.css' %}" rel="stylesheet">
  <link href="{% static  'assets/css/iCheck/all.css' %}" rel="stylesheet"> <!-- icheck -->
  <link href="{% static  'assets/css/colorbox.css' %}" rel="stylesheet">
  <link href="{% static  'assets/css/pnotify.custom.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <!-- Layout styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">
{% block customcss %}
{% endblock %}

</head>
<body>
<script src="{% static 'assets/js/preloader.js' %}"></script>
  <div class="body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <div class="mdc-drawer__header">
        <a href="index.html" class="brand-logo">
          <img src="{% static 'assets/images/logo.svg' %}" alt="logo">
        </a>
      </div>
      <div class="mdc-drawer__content">
        <div class="user-info">
          <p class="name">{{ request.user.first_name }}  {{request.user.last_name}}</p>
          <p class="email">{{ request.user.email }}</p>
        </div>
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              

              <a class="mdc-drawer-link" href="{% url 'home' %}">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
                Dashboard
              </a>
            </div>

            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel1" data-target="ui-sub-menu1">
                <i id="usertab" class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">groups</i>
                Users
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel1" id="ui-sub-menu1">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'view_drivers' %}">
                    <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">person_add</i>
                      Drivers
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'view_users' %}">
                      <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">group</i>
                      Users
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'view_customers' %}">
                      <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">contacts</i>
                      Customers
                    </a>
                  </div>
                </nav>
              </div>
            </div>

            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="ui-sub-menu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">directions_car</i>
                Vehicles
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'manage_vehicles' %}">
                    <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">local_shipping</i>
                      Manage Vehicles
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'vehicles_group' %}">
                    <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">map</i>
                      Manage Vehicle Group
                    </a>
                  </div>
                </nav>
              </div>
            </div>

            

            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel2" data-target="ui-sub-menu2">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">local_atm</i>
               Transactions
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu2">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'manage_income' %}">
                      <i class="fa fa-list-alt" style="margin-right: 8px;" aria-hidden="true"></i>
                      Manage Income
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'manage_expense' %}">
                      <i class="fa fa-list-alt" style="margin-right: 8px;" aria-hidden="true"></i>
                      Manage Expense
                    </a>
                  </div>
                </nav>
              </div>
            </div>

            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel3" data-target="ui-sub-menu3">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">assignment</i>
                Bookings
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu3">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'new_booking' %}">
                      <i class="fa fa-address-book" style="margin-right: 8px;" aria-hidden="true"></i>
                      New Booking
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'manage_booking' %}">
                      <i class="fa fa-tasks" style="margin-right: 8px;" aria-hidden="true"></i>
                      Manage Bookings
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'booking_calendar' %}">
                      <i class="fa fa-calendar" style="margin-right: 8px;" aria-hidden="true"></i>
                      Booking Calendar
                    </a>
                  </div>
                </nav>
              </div>
            </div>

            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel4" data-target="ui-sub-menu4">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">assessment</i>
                Reports
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu4">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'delinquent_report' %}">
                      <i class="fa fa-address-book" style="margin-right: 8px;" aria-hidden="true"></i>
                      Delinquent Report
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'monthly_report' %}">
                      <i class="fa fa-calendar" style="margin-right: 8px;" aria-hidden="true"></i>
                      Monthly Report
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'booking_report' %}">
                      <i class="fa fa-book" style="margin-right: 8px;" aria-hidden="true"></i>
                      Booking Report
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'users_report' %}">
                      <i class="fa fa-address-book" style="margin-right: 8px;" aria-hidden="true"></i>
                      Users Report
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'fuel_report' %}">
                      <i class="fa fa-truck" style="margin-right: 8px;" aria-hidden="true"></i>
                      Fuel Report
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'driver_report' %}">
                      <i class="fa fa-id-card" style="margin-right: 8px;" aria-hidden="true"></i>
                      Driver Report
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'customer_report' %}">
                      <i class="fa fa-users" style="margin-right: 8px;" aria-hidden="true"></i>
                      Customer Report
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'vendor_report' %}">
                      <i class="fa fa-cubes" style="margin-right: 8px;" aria-hidden="true"></i>
                      Vendor Report
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'yearly_report' %}">
                      <i class="fa fa-calendar" style="margin-right: 8px;" aria-hidden="true"></i>
                      Yearly Report
                    </a>
                  </div>
                </nav>
              </div>
            </div>

            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel5" data-target="ui-sub-menu5">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">local_gas_station</i>
                Fuel
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu5">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'fuel_history' %}">
                      <i class="fa fa-history" style="margin-right: 8px;" aria-hidden="true"></i>
                      Fuel History
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'add_fuel' %}">
                      <i class="fa fa-plus-square" style="margin-right: 8px;" aria-hidden="true"></i>
                      Add Fuel
                    </a>
                  </div>
                </nav>
              </div>
            </div>


            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel6" data-target="ui-sub-menu6">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">store_mall_directory</i>
                Vendors
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu6">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'add_vendor' %}">
                      <i class="fa fa-plus-square" style="margin-right: 8px;" aria-hidden="true"></i>
                      Add Vendor
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'manage_vendor' %}">
                      <i class="fa fa-cube" style="margin-right: 8px;" aria-hidden="true"></i>
                      Manage Vendor
                    </a>
                  </div>
                </nav>
              </div>
            </div>


            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel7" data-target="ui-sub-menu7">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">shopping_cart</i>
                Work Orders
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu7">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'add_workorder' %}">
                      <i class="fa fa-plus-square" style="margin-right: 8px;" aria-hidden="true"></i>
                      Add Work Order
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'manage_workorder' %}">
                      <i class="fa fa-inbox" style="margin-right: 8px;" aria-hidden="true"></i>
                      Manage Work Order
                    </a>
                  </div>
                </nav>
              </div>
            </div>




            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel8" data-target="ui-sub-menu8">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">speaker_notes</i>
                Notes
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu8">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'add_note' %}">
                      <i class="fa fa-plus-square" style="margin-right: 8px;" aria-hidden="true"></i>
                      Create Note
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'manage_note' %}">
                      <i class="fa fa-flag" style="margin-right: 8px;" aria-hidden="true"></i>
                      Manage Notes
                    </a>
                  </div>
                </nav>
              </div>
            </div>

            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel9" data-target="ui-sub-menu9">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">access_time</i>
                Service Reminders
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu9">
                <nav class="mdc-list mdc drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'manage_reminder' %}">
                      <i class="fa fa-folder-open" style="margin-right: 8px;" aria-hidden="true"></i>
                      Manage Reminders
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'add_reminder' %}">
                      <i class="fa fa-plus-square" style="margin-right: 8px;" aria-hidden="true"></i>
                      Add Service Reminder
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'service_item' %}">
                      <i class="fa fa-file" style="margin-right: 8px;" aria-hidden="true"></i>
                      Service Item
                    </a>
                  </div>
                </nav>
              </div>
            </div>


            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel10" data-target="ui-sub-menu10">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">settings</i>
                Settings
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="ui-sub-menu10">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'general_settings' %}">
                      <i class="fa fa-cog" style="margin-right: 8px;" aria-hidden="true"></i>
                      General Settings
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'api_settings' %}">
                      <i class="fa fa-cog" style="margin-right: 8px;" aria-hidden="true"></i>
                      Api Settings
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'cancellation_reason' %}">
                      <i class="fa fa-times" style="margin-right: 8px;" aria-hidden="true"></i>
                      Cancellation Reasons 
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'email_notification' %}">
                      <i class="fa fa-envelope" style="margin-right: 8px;" aria-hidden="true"></i>
                      Email Notification
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'email_content' %}">
                      <i class="fa fa-envelope-open" style="margin-right: 8px;" aria-hidden="true"></i>
                      Set Email Content
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'fare_settings' %}">
                      <i class="fa fa-cog" style="margin-right: 8px;" aria-hidden="true"></i>
                      Fare Settings
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'expense_categories' %}">
                      <i class="fa fa-tasks" style="margin-right: 8px;" aria-hidden="true"></i>
                      Expense Categories  
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="{% url 'income_categories' %}">
                      <i class="fa fa-tasks" style="margin-right: 8px;" aria-hidden="true"></i>
                      Income Categories
                    </a>
                  </div>
                </nav>
              </div>
            </div>


          

            <!-- <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="pages/tables/basic-tables.html">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">grid_on</i>
                Tables
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="pages/charts/chartjs.html">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pie_chart_outlined</i>
                Charts
              </a>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel4" data-target="sample-page-submenu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pages</i>
                Sample Pages
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="sample-page-submenu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/blank-page.html">
                      Help Us Improve
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/403.html">
                      403
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/404.html">
                      404
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/500.html">
                      500
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/505.html">
                      505
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/login.html">
                      Login
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/samples/register.html">
                      Register
                    </a>
                  </div>
                </nav>
              </div>
            </div>
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="https://www.bootstrapdash.com/demo/material-admin-free/jquery/documentation/documentation.html" target="_blank">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">description</i>
                Documentation
              </a>
            </div>
          </nav>
        </div> -->
        <div class="profile-actions">
          <a href="javascript:;">Settings</a>
          <span class="divider"></span>
          <a href="javascript:;">Logout</a>
        </div>

      </div>
    </aside>
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content">
      <!-- partial:partials/_navbar.html -->
      <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
          <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
            <span class="mdc-top-app-bar__title">Greetings {{ request.user.first_name }}!</span>
            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon search-text-field d-none d-md-flex">
              <i class="material-icons mdc-text-field__icon">search</i>
              <input class="mdc-text-field__input" id="text-field-hero-input">
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="text-field-hero-input" class="mdc-floating-label">Search..</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
          </div>
          <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
            <div class="menu-button-container menu-profile d-none d-md-block">
              <button class="mdc-button mdc-menu-button">
                <span class="d-flex align-items-center">
                  <span class="figure">
                    <img src="{% static 'assets/images/faces/face1.jpg' %}" alt="user" class="user">
                  </span>
                  <span class="user-name">{{ request.user.first_name }}</span>
                </span>
              </button>
              <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon-only">
                      <i class="mdi mdi-account-edit-outline text-primary"></i>
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">Edit profile</h6>
                    </div>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon-only">
                      <i class="mdi mdi-settings-outline text-primary"></i>                      
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">
                        <a href="{% url 'logout' %}">Logout</a>  
                      </h6>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="divider d-none d-md-block"></div>
            <div class="menu-button-container d-none d-md-block">
              <button class="mdc-button mdc-menu-button">
                <i class="mdi mdi-settings"></i>
              </button>
              <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon-only">
                      <i class="mdi mdi-alert-circle-outline text-primary"></i>
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">Settings</h6>
                    </div>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon-only">
                      <i class="mdi mdi-progress-download text-primary"></i>                      
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">Update</h6>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="menu-button-container">
              <button class="mdc-button mdc-menu-button">
                <i class="mdi mdi-bell"></i>
              </button>
              <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                <h6 class="title"> <i class="mdi mdi-bell-outline mr-2 tx-16"></i> Notifications</h6>
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon">
                      <i class="mdi mdi-email-outline"></i>
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">You received a new message</h6>
                      <small class="text-muted"> 6 min ago </small>
                    </div>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon">
                      <i class="mdi mdi-account-outline"></i>                      
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">New user registered</h6>
                      <small class="text-muted"> 15 min ago </small>
                    </div>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon">
                      <i class="mdi mdi-alert-circle-outline"></i>
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">System Alert</h6>
                      <small class="text-muted"> 2 days ago </small>
                    </div>
                  </li> 
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon">
                      <i class="mdi mdi-update"></i>
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">You have a new update</h6>
                      <small class="text-muted"> 3 days ago </small>
                    </div>
                  </li> 
                </ul>
              </div>
            </div>
            <div class="menu-button-container">
              <button class="mdc-button mdc-menu-button">
                <i class="mdi mdi-email"></i>
                <span class="count-indicator">
                  <span class="count">3</span>
                </span>
              </button>
              <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                <h6 class="title"><i class="mdi mdi-email-outline mr-2 tx-16"></i> Messages</h6>
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail">
                      <img src="{% static 'assets/images/faces/face4.jpg' %}" alt="user">
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">Mark send you a message</h6>
                      <small class="text-muted"> 1 Minutes ago </small>
                    </div>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail">
                      <img src="{% static 'assets/images/faces/face2.jpg' %}" alt="user">
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">Cregh send you a message</h6>
                      <small class="text-muted"> 15 Minutes ago </small>
                    </div>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail">
                      <img src="{% static 'assets/images/faces/face3.jpg' %}" alt="user">
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">Profile picture updated</h6>
                      <small class="text-muted"> 18 Minutes ago </small>
                    </div>
                  </li>                
                </ul>
              </div>
            </div>
            <div class="menu-button-container d-none d-md-block">
              <button class="mdc-button mdc-menu-button">
                <i class="mdi mdi-arrow-down-bold-box"></i>
              </button>
              <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon-only">
                      <i class="mdi mdi-lock-outline text-primary"></i>
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">Lock screen</h6>
                    </div>
                  </li>
                  <li class="mdc-list-item" role="menuitem">
                    <div class="item-thumbnail item-thumbnail-icon-only">
                      <i class="mdi mdi-logout-variant text-primary"></i>                      
                    </div>
                    <div class="item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="item-subject font-weight-normal">
                        <a href="{% url 'logout' %}">Logout</a>  
                      </h6>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </header>


<div class="main">
    {% block content %}
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <main style="margin-left: 20px;">
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
              <div class="mdc-card info-card info-card--success">
                <div class="card-inner">
                  <h5 class="card-title">Total Income</h5>
                  <h5 class="font-weight-light pb-2 mb-1 border-bottom"> GH₵ {{ income }}</h5>
                  <p class="tx-12 text-muted">48% target reached</p>
                  <div class="card-icon-wrapper">
                    <i class="material-icons">dvr</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
              <div class="mdc-card info-card info-card--danger">
                <div class="card-inner">
                  <h5 class="card-title">Total Expense</h5>
                  <h5 class="font-weight-light pb-2 mb-1 border-bottom"> GH₵ {{ expense }}</h5>
                  <p class="tx-12 text-muted">55% target reached</p>
                  <div class="card-icon-wrapper">
                    <i class="material-icons">attach_money</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
              <div class="mdc-card info-card info-card--primary">
                <div class="card-inner">
                  <h5 class="card-title">Lead Conversion</h5>
                  <h5 class="font-weight-light pb-2 mb-1 border-bottom">$234,769.00</h5>
                  <p class="tx-12 text-muted">87% target reached</p>
                  <div class="card-icon-wrapper">
                    <i class="material-icons">trending_up</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
              <div class="mdc-card info-card info-card--info">
                <div class="card-inner">
                  <h5 class="card-title">Average Income</h5>
                  <h5 class="font-weight-light pb-2 mb-1 border-bottom">GH₵ {{ avg_income }}</h5>
                  <p class="tx-12 text-muted">87% target reached</p>
                  <div class="card-icon-wrapper">
                    <i class="material-icons">credit_card</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      <div class="bo">
        <div class="box-header with-border">
          <h3 class="box-title">Dashboard</h3>
        </div> 



        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
              <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                  <div class="info-box">
                    <span class="info-box-icon bg-brown"><i class="fa fa-users"></i></span>
                      <div class="info-box-content">
                        <span> <strong>Users</strong> </span>
                        <span class="info-box-number"> {{ users }} </span>
                      </div>
                  </div>
                </div>
              </div>
            

            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
              <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                  <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-id-card"></i></span>
                      <div class="info-box-content">
                        <span> <strong>Drivers</strong> </span>
                        <span class="info-box-number"> {{ drivers }} </span>
                      </div>
                </div>
              </div>
            </div>
          

            
          </div> 
          
        </div>
        
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="info-box">
                <span class="info-box-icon bg-grey"><i class="fa fa-book"></i></span>
                  <div class="info-box-content">
                    <span> <strong>Booking</strong> </span>
                    <span class="info-box-number"> {{ bookings }} </span>
                  </div>
              </div>
            </div>
          </div>
        

        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-taxi"></i></span>
                  <div class="info-box-content">
                    <span> <strong>Vehicles</strong> </span>
                    <span class="info-box-number"> {{ vehicles }} </span>
                  </div>
            </div>
          </div>
        </div>
      

        
      </div> 
      
        </div>


        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-credit-card"></i></span>
                  <div class="info-box-content">
                    <span> <strong>Income</strong> </span>
                    <span class="info-box-number"> <small>GH₵</small>{{ income }}</span>
                  </div>
              </div>
            </div>
          </div>
        

        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-credit-card"></i></span>
                  <div class="info-box-content">
                    <span> <strong>Expense</strong> </span>
                    <span class="info-box-number"> <small>GH₵</small>{{ expense }}</span>
                  </div>
            </div>
          </div>
        </div>
    
      </div> 
      
        </div>
        
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="info-box">
                <span class="info-box-icon bg-grey"><i class="fa fa-address-card"></i></span>
                  <div class="info-box-content">
                    <span> <strong>Vendors</strong> </span>
                    <span class="info-box-number"> {{ vendors }} </span>
                  </div>
              </div>
            </div>
          </div>
        

        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-cubes"></i></span>
                  <div class="info-box-content">
                    <span> <strong>Customers</strong> </span>
                    <span class="info-box-number"> {{ customers }}</span>
                  </div>
            </div>
          </div>
        </div>
      

        
      </div> 
      
        </div>

       </div>


       <div class="bo">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-header with-border">
                      <h3 class="box-title">Yearly Chart</h3>
                    </div>
                      <div class="box-body">
                      <canvas id="yearly" width="800" height="300"></canvas>
                      </div>
          </div>
        </div>
    </div>
      </main>

</div>
    
    {% endblock %}
</div>





  <footer>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-8-desktop">
          <span style="margin-left:250px;" class="tx-14">Copyright © 2020 <a style="color:blue;" href="https://www.apavone.com/" target="_blank">aPavone Concepts</a>. All rights reserved.</span>
        </div>
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop d-flex justify-content-end">
          <div class="d-flex align-items-center">
            <a href="">Documentation</a>
            <span class="vertical-divider"></span>
            <a href="">FAQ</a>
          </div>
        </div>
      </div>
    </div>
  </footer>



  <!-- partial -->
</div>
</div>
</div>

<!-- bootstrap cdns -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
<!-- plugins:js -->
<script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="{% static 'assets/vendors/chartjs/Chart.min.js' %}"></script>
<script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'assets/js/material.js' %}"></script>
<script src="{% static 'assets/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<!-- End custom js for this page-->



{% block script %}
<script>
  window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
  };
  
          var chartData = {
              labels: ["Income", "Expense"],
  
              datasets: [{
                  type: 'pie',
                  label: '',
                 backgroundColor: ['#00a65a','#dd4b39'],
                  borderColor: window.chartColors.red,
                  borderWidth: 1,
                  data: [3,4]
              }]
          };
  
                var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
          var config = {
              type: 'line',
              data: {
                  labels: MONTHS,
                  datasets: [{
                      label: "Expense",
                      backgroundColor: '#dd4b39',
                      borderColor: '#dd4b39',
                      data: [{{ expense }}],
                      fill: false,
                  }, {
                      label: "Income",
                      fill: false,
                      backgroundColor: '#00a65a',
                      borderColor: '#00a65a',
                      data: [{{ income }}],
                  }]
              },
              options: {
                  responsive: true,
                  title:{
                      display:false,
                  },
                  tooltips: {
                      mode: 'index',
                      intersect: false,
                  },
                  hover: {
                      mode: 'nearest',
                      intersect: true
                  },
                  scales: {
                      xAxes: [{
                          display: true,
                          scaleLabel: {
                              display: true,
                              labelString: "Month"
                          }
                      }],
                      yAxes: [{
                          display: true,
                          scaleLabel: {
                              display: true,
                              labelString: "Amount"
                          }
                      }]
                  }
              }
          };
  
          window.onload = function() {
            var ctx = document.getElementById("yearly").getContext("2d");
              window.myLine = new Chart(ctx, config);
              var ctx = document.getElementById("canvas").getContext("2d");
              window.myMixedChart = new Chart(ctx, {
                  type: 'pie',
                  data: chartData,
                  options: {
                    legend:{display:false},
                      responsive: true,
  
                      tooltips: {
                          mode: 'index',
                          intersect: false
                      }
                  }
              });
          };
  
      </script>
{% endblock %}

</body>
</html> 