{% extends 'transport/demo/layout.html' %}
{% load crispy_forms_tags %}
{% block customcss %}
<style type="text/css">
.custom{
min-width: 50px;
left:-149px !important;
right: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

</style>
{% endblock %}

{% block content %}
    <div class="row mdc-layout-grid__cell">
        <div class="col-12 col-xs-12">
          <div class="box box-primary">
                <div class="box-header with-border container">
                    <h3 style="float:left" class="box-title float-left">Add Fuel</h3>
                  </div>
        </div>
      </div>
       

  <div class="col-12 col-xs-12">
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12" style="margin-left:30px;">
            <div class="mdc-card p-0">
                {% if message in messages %}
                <div class="alert alert-danger">
                <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
                </div>
                {% endif %}
            
            <form method="POST" class="mt-5 ml-2 mb-5" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="container">
                  <div class="row">
                        <div class="col-6 col-xs-12">
                            {{ form.vehicle | as_crispy_field }}
                        </div>
                        <div class="col-6 col-xs-12">
                            {{ form.date | as_crispy_field }}
                        </div>                
                    </div>

                  <div class="row">
                         <div class="col-6 col-xs-12">
                            {{ form.start_meter | as_crispy_field }}
                        </div>
                        <div class="col-6 col-xs-12">
                            {{ form.reference | as_crispy_field }}
                        </div>
                    </div>
                   

                    <div class="row">
                        <div class="col-6 col-xs-12">
                            {{ form.province | as_crispy_field }}
                        </div>
                        <div class="col-6 col-xs-12">
                            {{ form.note | as_crispy_field }}
                        </div>
                    </div>       

                    <div class="row">
                        <div class="col-6 col-xs-12">
                            {{ form.qty | as_crispy_field }}
                        </div>
                        <div class="col-6 col-xs-12">
                            {{ form.cost_per_unit | as_crispy_field }}
                        </div>
                    </div>  


                    <div class="row">
                            <div class="col-6 col-xs-12">
                                <p><strong> Complete fill Up? </strong> </p>
                                <label class="switch">
                                  <input type="checkbox" name="complete" value="1">
                                  <span class="slider round"></span>
                                </label>
                              </div>

                              <div class="col-6 col-xs-12">
                                <div class="box box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Fuel is coming from</h3>
                                     </div>
                                  <div class="box-body style="margin-left: -20px"">
                                    <input type="radio" name="fuel_from" class="flat-red fuel_from" value="Fuel Tank" id="tank">
                                    <label for="tank">Fuel Tank</label>
                                    <!-- {!! Form::label('fuel_from', __('fleet.fuel_tank'), ['class' => 'form-label']) !!} -->
                                    <br>
                                    <input type="radio" name="fuel_from" class="flat-red fuel_from" value="N/D" checked id="nd">
                                    <label for="nd">N/D</label>
                                    <!-- {!! Form::label('fuel_from',  __('fleet.nd'), ['class' => 'form-label']) !!} -->
                                    <br>
                                    <input type="radio" name="fuel_from" class="flat-red fuel_from" value="Vendor" id="r1">
                                    <label for="nd">Vendor</label> 
                                    <!-- {!! Form::label('fuel_from', __('fleet.vendor'), ['class' => 'form-label']) !!} -->
                                    <select id="vendor_name" name="vendor_name" class="form-control" style="width:200px; display: inline-block">
                                      <option value="">Select Vendor</option>
                                      {% for vendor in vendors %}
                                      <option value="{{vendor.id}}"> {{vendor.name}} </option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                </div>
                              </div>                             
                               
                                
                        
                    </div> 

                   

                </div>
                <div class="col-12">
                    <input type="submit" class="btn btn-primary" value="Save fuel">
                </div>
            </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}


